name: Terraform Deploy (Dev)

on:
  push:
    branches: [ "main" ]

env:
  ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init
      working-directory: env/dev

    - name: Terraform Plan
      run: terraform plan
      working-directory: env/dev

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: env/dev

    - name: Terraform Destroy
      run: terraform destroy -auto-approve
      working-directory: env/dev
